h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  }

img {
    height: 18rem;
}

td {
    font-size: large;
}

#browser {
    font-size: 1rem;
}

.button, .accordion-item {
    background-color: #28242c;
    color: white;
    border: 1px solid gray;
}